.card {
    background-color: #fcc0e5 !important; 
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding:15px;
    font-size: 15px;
}

.card-img-top {
    width: 100%;
    height: 250px; 
    object-fit: cover; 
    border-radius: 8px 8px 0 0; 
}

.card-body {
    padding: 1rem;
}

.card-footer {
    color: #d63384;
    font-size: 20px;
    border-radius: 8px !important;
    border: none !important;
    font-size: 25px;
    background-color:  #fcc0e5 ;
}

.card-footer:hover {
    color: #660294;
    background-color:  #fcc0e5 ;
}

a{
    color: #d63384;
    font-size: 20px !important;  
}

.servicio-box {
    transition: background-color 0.3s ease;
}

.servicio-box.selected {
    background-color: #c013ba;
    color: white;
}
.parallax {
    background-color: rgba(0, 0, 0, 5) !important;
    background-image: url('http://127.0.0.1:8000/storage/paralax.png');
    background-attachment: fixed; 
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px; 
}


.image-container {
    position: relative;
    width: 100%; 
    height: 60vh;
    overflow: hidden; 
}
.image-container img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

/* Estilos generales */
.textoSeo {
    max-width: 90vw;
    margin: 40px auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.8;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.textoSeo h2 {
    font-size: 24px;
    color: #d63384;
    margin-bottom: 15px;
    border-left: 5px solid #d63384;
    padding-left: 10px;
}

.textoSeo p {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: justify;
    font-weight: bold;
}



/* Mejor espaciado */
.textoSeo p:last-child {
    margin-bottom: 0;
}

/* Estilos para la vista del anuncio */
.verAnuncio {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    background: #e8c8dc;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.verAnuncio h1 {
    font-size: 28px;
    color: #fd61b6;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para el carrusel de imágenes */
.carousel-inner img {
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
}

/* Estilos para la información del anuncio */
.verAnuncio p {
    font-size: 16px;
    margin-bottom: 10px;
    border-left: 4px solid #d63384;
    padding-left: 10px;
    background: #dcd6db;
    border-radius: 5px;
    padding: 8px;
    color: rgb(0, 0, 0);
}

.verAnuncio p strong {
    color: #d63384;
}





