@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* Fondo negro para toda la página */
body {
    background-color: #000000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Color de los encabezados */
h1 {
    color: #ff66c5;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

 h2, h3, h4, h5, h6{
    color: #ff66c5;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}

/* Links blancos con efecto */
p {
    color: #fdd1ef;
    text-decoration: none;
}

a {
    color: #b71d86;
    direction: none;
}

/* Mejor espaciado para los contenedores */
.container {
   max-width: 90vw;
}
img.logo {
    height: 60px;
}

nav.dark\:bg-gray-800.border-b.border-gray-100.dark\:border-gray-700 {
    border: none;
    padding:20px;
    margin-bottom: 40px;
    background-color: #404040;
}


.card-text{
    color: #000000;
}

