a {
    color: #dc4fff !important;
}

a:hover{
    color: rgb(174, 112, 182) !important;
}

svg{
    color: #ff41b6;
}

.font-medium.text-base.text-gray-800.dark\:text-gray-200, .font-medium.text-sm.text-gray-500{
    color: #dc4fff !important;
}